flows.json
[{"id":"4af84908.03da78","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"266b9b90.179214","type":"ui_microphone","z":"4af84908.03da78","group":"eaecd4c4.5eb3c8","order":6,"width":0,"height":0,"name":"","maxLength":3,"timeslice":0,"x":270,"y":200,"wires":[["169761e0.6afc2e"]]},{"id":"169761e0.6afc2e","type":"watson-speech-to-text","z":"4af84908.03da78","name":"","alternatives":1,"speakerlabels":true,"smartformatting":false,"lang":"en-US","langhidden":"en-US","langcustom":"NoCustomisationSetting","langcustomhidden":"","custom-weight":"0.5","band":"BroadbandModel","bandhidden":"BroadbandModel","keywords":"fire ","keywords-threshold":"0.49","word-confidence":false,"password":"","apikey":"nSr9EXyyrXopn6arCG9FH4wghOPwn4f2c9RF1pYvEJVR","payload-response":false,"streaming-mode":false,"streaming-mute":true,"auto-connect":false,"discard-listening":false,"disable-precheck":false,"service-endpoint":"","x":440,"y":200,"wires":[["138d9c0.bd3db64","3ecaee27.8261d2"]]},{"id":"138d9c0.bd3db64","type":"debug","z":"4af84908.03da78","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"fullresult.results.1.keywords_result[0]","targetType":"msg","x":720,"y":160,"wires":[]},{"id":"428d6132.0df02","type":"watson-conversation-v1","z":"4af84908.03da78","name":"","workspaceid":"cb4b466b-6fa9-4f2f-beb8-2677e3857939","multiuser":false,"context":true,"empty-payload":false,"service-endpoint":"https://api.jp-tok.assistant.watson.cloud.ibm.com/instances/8bff45e0-d0aa-4d50-b85f-38864209b097","timeout":"","optout-learning":false,"x":1020,"y":200,"wires":[["2f227b7b.645244"]]},{"id":"3ecaee27.8261d2","type":"change","z":"4af84908.03da78","name":"Pass the recorded transcript to Conversation","rules":[{"t":"set","p":"payload","pt":"msg","to":"transcription","tot":"msg"},{"t":"set","p":"chatstart","pt":"flow","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":750,"y":200,"wires":[["428d6132.0df02"]]},{"id":"2f227b7b.645244","type":"switch","z":"4af84908.03da78","name":"Intents","property":"payload.intents[0].intent","propertyType":"msg","rules":[{"t":"eq","v":"situation","vt":"str"},{"t":"eq","v":"location","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":3,"x":290,"y":360,"wires":[[],["4c968504.6a8e1c"],[]]},{"id":"73eb1eaf.7bbeb","type":"visual-recognition-v3","z":"4af84908.03da78","name":"","vr-service-endpoint":"","image-feature":"classifyImage","lang":"en","x":750,"y":380,"wires":[["9969d020.dbbe3"]]},{"id":"657b8545.fbfc1c","type":"comment","z":"4af84908.03da78","name":"Visual Recognision example","info":"the machine has been trained to determined the servirty of the situation.\nIn this example we used the example of small and big fire.\nSo the AI is trained to recognsied that apartment buidlings are more servere and that rubbish shute fire are less servere","x":800,"y":320,"wires":[]},{"id":"4c968504.6a8e1c","type":"function","z":"4af84908.03da78","name":"","func":"//this is still in pesudo code no time complete ;)\n\nfor i in cameralocation{\n    //if location specified has cameras near it\n    //pass it to visual recognision\n    \nif location == cameralocation[i]\n(\n    get image\n    //get the image from the database\n    )\n}\nreturn image;\n","outputs":1,"noerr":15,"x":450,"y":380,"wires":[["73eb1eaf.7bbeb"]]},{"id":"9969d020.dbbe3","type":"function","z":"4af84908.03da78","name":"","func":"// output the deteremination of serverity of situation\nvar risk =\"\";\n\nif imagelabel == \"bigfire\"(\n    risk=\"high\"\n    )\n\nif imagelabel == \"smallfire\"(\n    risk=\"low\"\n    )\nreturn risk;","outputs":1,"noerr":8,"x":910,"y":380,"wires":[[]]},{"id":"eaecd4c4.5eb3c8","type":"ui_group","z":"","name":"Record","tab":"a39e5f5.7c4aba","order":1,"disp":true,"width":"6","collapse":false},{"id":"a39e5f5.7c4aba","type":"ui_tab","z":"","name":"Test","icon":"dashboard","disabled":false,"hidden":false}]
